body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  #login-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  #player {
    margin-top: 50px;
  }
  